<div class="col-md-4 col-sm-6 col-xs-12 mb-3">
  <div class="card m-1 h-100">
    <div class="card-header">
      <div class="row">
        <div class="col-12 mt-1">
          <h4 class="text-center mx-auto mb-0"><%=room.title%></h4>
        </div>
        <p class="col-12 text-center mt-0 mb-2">Subscribers: <%= room.users.count %></p>
        <div class="col-12 my-1">
          <div class="row justify-content-around">
            <% if @my_rooms[room.id] %>
              <%= link_to 'Unsubscribe',
                  message_rooms_subscribe_path(user_id: current_user.id, message_room_id: room.id),
                  remote: true,
                  method: :post,
                  class:"btn btn-outline-danger subscribe-button" %>
            <% else %>
              <%= link_to 'Subscribe',
                  message_rooms_subscribe_path(user_id: current_user.id, message_room_id: room.id),
                  remote: true,
                  method: :post,
                  class:"btn btn-outline-success subscribe-button" %>
            <% end %>
            <%= link_to 'enter', message_room_path(id: room.id), class:"btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body" id="subscribed-chats">
      <p><%=room.blurb%></p>
    </div>
  </div>
</div>
