<div class="message-room">
  <h2 class="text-center my-3">Room title: "<%=@message_room.title%>"</h2>
  <%= link_to message_rooms_path do %>
    <div class="back-arrow text-dark"><</div>
  <% end %>
  <!-- show message dependent upon whose it is -->
  <div class="messages">
    <% @messages.each do |message| %>
        <%= render partial: "message", locals: {message: message, user: message.user} %>
    <% end %>
    <div class="panel-body hidden" id="new-message-target-<%= @message_room.id %>"></div>
  </div>
  <div class="message-input">
    <!-- only render the input if the user is subscribed -->
    <% if @subscribers.include?(current_user) %>
      <%= form_with(model: @message, remote: true) do |form| %>
        <div class="row mx-3 py-3">
            <%= form.text_field :body, class: "form-control col-sm-11 col-xs-10", id: "message-input", autocomplete: "off" %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <div class="btn btn-primary col-sm-1 col-xs-2" onclick="clearInput()" id="message-enter-button">Send</div>
        </div>
      <% end %>
    <% else %>
      <h4 class="py-3 text-center mx-auto">
        you must <%= link_to "subscribe",
                              message_rooms_subscribe_path(user_id: current_user.id, message_room_id: params[:id], redirect_to_page: true),
                              method: :post,
                              class:"btn btn-success subscribe-button" %>
        to contribute to this message room</h4>
    <% end %>
  </div>
  <!-- list those that are subscribed to this message room -->
  <div class="w-50 mx-auto my-5">
    <h4>Message room followed by:</h4>
    <ul>
      <% @subscribers.each do |sub| %>
        <li><%= sub.username %></li>
      <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript">
  function clearInput() {
    $("form").submit()
    $("#message-input").val("");
  }

  $(document).on("keypress", function(e){
    if ( e.which == 13 ) {
      $("form").submit()
      $("#message-input").val("");
    }
  });

  $('.messages').scrollTop($('.messages')[0].scrollHeight);
</script>
